<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <img class="img-thumbnail" src="{{comic?.photoUrl}}" alt="{{comic?.name}}" height="300" width="300">
      <div class="footer" *ngIf="loggedIn()">
        <div>
          <button class="btn btn-success w-80 mr-2"> Like</button>
          <div class="buy">
          </div>
          <button type="submit" class="btn btn-success w-80 mt-2" (click)="buyComic(comic.name)"> Buy Comic for €3.99</button>
          <div class="form-group" *ngIf="takePaymentResult">
              <p>Payment Result: {{takePaymentResult}}</p>
          </div>
        </div>
        <div>
          <span *ngIf="confirmDelete">
            <span>Are you sure you want to delete this comic?</span>
            <button class="btn btn-danger mr-2" (click)="removeComic()">Yes</button>
            <button class="btn btn-success mr-2" (click)="confirmDelete=false">No</button>
          </span>
          <button *ngIf="!confirmDelete" class="btn btn-danger w-80 mt-2" (click)="confirmDelete=true"> Delete</button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <h3>{{comic?.name}}</h3>
      <dl>

        <dt>Writers Name: </dt>
        <dd>{{comic?.writerName}}</dd>

        <dt>Published: </dt>
        <dd>{{comic?.published | date}}</dd>

        <dt>Description: </dt>
        <dd>{{comic?.description}}</dd>

      </dl>
    </div>
  </div>