.buy {
    text-align: center;
    display: inline-block;
    width: 31%;
    border-radius: 1rem;
    color: #fff;
    padding: 1rem;
    margin: 1rem;
  }
  
  .buy button {
    border-radius: 0.5rem;
    text-align: center;
    font-weight: bold;
    color: #333;
    margin: 1rem;
  }