<!--
<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Comic Website</h1>
    <p class="lead"></p>
    <div class="text-center">
      <button class="btn btn-secondary btn-lg mr-2" (click)="registerToggle()">Register</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
          <app-register (cancelRegister)="cancelRegisterMode($event)" ></app-register>
      </div>
    </div>
  </div>
</div>
-->
<div class="continer mb-4">
    <div>
      <div class="row">
        <div *ngFor="let comic of comics" class="section ml-4">
          <app-sincomic [comic]="comic"></app-sincomic>
        </div>
      </div>
    </div>
  </div>
