.container:hover img {
    transform: scale(1.05, 1.05);
    transition-duration: 500ms;
    transition-timing-function: ease-out
}

.container img{
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out
}

.p{
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}